
.task-item {
    padding: 12px 0;
    font-size: 18px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.task-item__row2 {
    padding-left: 23px;
}

.task-item .badge {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    margin-left: 7px;
    margin-top: 3px;
    color: black;
    background-color: rgb(229, 229, 229);
}

.task-icon_decline {
    color: yellow;
}

.task-item__status {
    margin-right: 5px;
    padding-top: 2px;
}

.task-step-item__col-completed {
    width: 30px;
    padding-top: 34px;
}

.task-step-item__col-date {
    width: 250px;
}

.task-step-item__col-delete,
.table-condensed > tbody > tr > td.task-step-item__col-delete {
    width: 40px;
    vertical-align: top;
    padding-top: 30px;
}

.task-steps__table td {
    vertical-align: top;
}

.task-steps__table label {
    font-size: 14px;
}

.task-steps__table textarea {
    height: 50px;
}

.add-task-block form {
    margin-bottom: 0;
}
