
.task-item {
    padding: 12px 0;
    font-size: 18px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.task-item__row2 {
    padding-left: 23px;
}

.task-item .badge {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    margin-left: 7px;
    margin-top: 3px;
    color: black;
    background-color: rgb(229, 229, 229);
}

.task-icon_decline {
    color: yellow;
}

.task-item__status {
    margin-right: 5px;
    padding-top: 2px;
}

.task-step-item__col-completed {
    width: 30px;
    padding-top: 34px;
}

.task-step-item__col-date {
    width: 250px;
}

.task-step-item__col-delete,
.table-condensed > tbody > tr > td.task-step-item__col-delete {
    width: 40px;
    vertical-align: top;
    padding-top: 30px;
}

.task-steps__table td {
    vertical-align: top;
}

.task-steps__table label {
    font-size: 14px;
}

.task-steps__table textarea {
    height: 50px;
}

.add-task-block form {
    margin-bottom: 0;
}

.task-form_shortform .form-field_title,
.task-form_shortform .form-field_due_date {
    margin-bottom: 0;
}

.task-item_overdue,
.task-item_overdue a {
    color: red;
}

.sec-menu__item_tasks_today .sec-menu-item__icon:before {
    content: "\e023";
}
.sec-menu__item_tasks_overdue .sec-menu-item__icon:before {
    content: "\e104";
}
.sec-menu__item_tasks_later .sec-menu-item__icon:before {
    content: "\e109";
}
.sec-menu__item_tasks_completed .sec-menu-item__icon:before {
    content: "\e089";
}
.sec-menu__item_tasks_inbound .sec-menu-item__icon:before {
    content: "\e169";
}
.sec-menu__item_tasks_outbound .sec-menu-item__icon:before {
    content: "\e170";
}
.sec-menu__item_tasks_repeating .sec-menu-item__icon:before {
    content: "\e030";
}
.sec-menu__item_tasks_all .sec-menu-item__icon:before {
    content: "\e032";
}

.nav > li.sec-menu__item_add_task {
    display: none;
}

.sec-menu__item:hover .sec-menu-item__suffix,
.sec-menu__item.active .sec-menu-item__suffix,
.main-menu__item:hover .main-menu-item__suffix,
.main-menu__item.active .main-menu-item__suffix,
.main-menu__item:hover .main-menu-item__suffix > *,
.main-menu__item.active .main-menu-item__suffix > * {
    color: white !important;
}

.sec-menu-item__suffix_tasks_today,
.main-menu-item__suffix_tasks_today {
    color: #5CB85C;
}

.sec-menu-item__suffix_tasks_overdue,
.main-menu-item__suffix_tasks_overdue {
    color: red;
}
