{% extends "core/page.html" %}
{% load static %}
{% load sitetree %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/quicksearch/jquery.quicksearch.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "wiki/css/wiki.css" %}" />
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
        <a href="{% url "wiki:add_wiki_page" %}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Добавить главу
        </a>
    </div>

    <br>
    <br>
    {% sitetree_menu from "main_menu" include "wiki" template 'core/sec_menu.html' %}
{% endblock %}


