{% extends "wiki/page.html" %}
{% load static %}

{# {% block scripts %} #}
{#     {{ block.super }}  #}
{#     {# <link rel="stylesheet" type="text/css" media="all" href="{% static "core/watable/watable.css" %}" /> #} #}
{#     {# <script type="text/javascript" src="{% static 'core/watable/jquery.watable.js' %}"></script> #} #}
{#     <script type="text/javascript" src="{% static 'core/quicksearch/jquery.quicksearch.js' %}"></script> #}
{#     <link rel="stylesheet" type="text/css" media="all" href="{% static "wiki/css/wiki.css" %}" /> #}
{# {% endblock %} #}

{% block content %}
    <div class="row-fluid">
        <div class="wiki-catalog col-md-12">
                {# <div class="control-group"> #}
                {#     <a href="{% url "wiki:add_wiki_page" %}" class="btn btn-primary"> #}
                {#         <span class="glyphicon glyphicon-plus"></span> Добавить главу #}
                {#     </a> #}
                {# </div> #}

                {# <hr> #}

                <div id="id_due_date" class="input-group date">
                    <input id="wiki-search" class="form-control" type="text" name="wiki_search" value="" placeholder="Поиск по названию ..." autofocus/>
                    <span class="input-group-addon" onclick="$('#wiki-search').val('').trigger('keyup');"><span class="glyphicon glyphicon-remove"></span></span>
                </div>

                <table class="wiki-page-items table table-hover col-md-8">
                    <tbody>
                        {% for node in tree %}
                            <tr class="wiki-page-item">
                                <td class="wiki-catalog__item" data-pk="{{ node.pk }}" style="padding-left: {% widthratio node.level 20 100 %}px;">{#<a href="{{ node.get_absolute_url }}">#}{{ node.title }}{#</a>#}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

        <div class="wiki-detail">
            
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // TODO вынести в отдельный файл
            var $search = $('input#wiki-search');
            $search.quicksearch('.wiki-page-items tbody tr');
            $search.on('focus', function(){
                $('.wiki-catalog').removeClass('col-md-2').addClass('col-md-12');
                $('.wiki-detail').html('');
            });

            var $catalog_items = $('.wiki-catalog__item');
            $catalog_items.on('click', function() {
                var $item = $(this);
                var pk = $(this).data('pk');
                $.get('/wiki/wiki-page-block/' + pk, function(data){
                    $('.wiki-detail').html(data);
                    $('.wiki-detail').removeClass('col-md-2').addClass('col-md-10');
                    $('.wiki-catalog').removeClass('col-md-10').addClass('col-md-2');
                    var $row = $item.parent('tr');
                    $catalog_items.parent('tr').removeClass('active')
                    $row.addClass('active');
                });
            });
        });
    </script>
{% endblock %}
