{% extends "partner/page.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}

    {# <link rel="stylesheet" type="text/css" media="all" href="{% static "wiki/css/wiki.css" %}" /> #}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="" method="POST" accept-charset="utf-8" class="add-partner-form">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Сохранить" class="btn btn-primary"/>
    </form>
{% endblock %}
