{% extends "goal/page.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}

    {# <link rel="stylesheet" type="text/css" media="all" href="{% static "wiki/css/wiki.css" %}" /> #}
    {{ form.media }}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#id_date_from').default_datepicker();
            $('#id_date_to').default_datepicker();
        });
    </script>
{% endblock %}

{% block page_title %}
    {% if form.instance.pk %}
        Цель "{{ form.instance.title }}"
    {% else %}
        Добавление цели
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if form.fields %}
            {% include "core/form.html" %}
        {% endif %}
    </div>

    <div class="goal-tasks container-fluid">
        <h2>Задачи по цели:</h2>
        <div class="goal-tasks__items">
            {% if tasks %}
                <div class="endless_page_template">
                    {% include "task/tasks_list_block.html" %}
                </div>
            {% else %}
                <div class="goal-tasks__items_empty bg-warning">
                    Нет задач
                </div>
            {% endif %}
        </div>
        <div class="row-fluid">
            <a href="{% url "task:add_task" %}?goal={{ goal.pk }}" class="goal-tasks__add-btn btn btn-success">Добавить задачу</a>
        </div>
    </div>
{% endblock %}

