{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    {# <link rel="stylesheet" type="text/css" media="all" href="{% static "partner/css/partner.css" %}" /> #}
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
        <a href="{% url "goal:add_goal_page" %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Добавить цель</a>
    </div>

    <hr>

    <ul class="nav">
        <li><a href="{% url "goal:company_goals_list_page" %}" class="sec-menu__link_company-goals">
            Цели компании
            {% if goal_counts.company_goals %}
                <span class="sec-menu__count pull-right">{{ goal_counts.company_goals }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "goal:department_goals_list_page" %}" class="sec-menu__link_department-goals">
            Цели отдела
            {% if goal_counts.department_goals %}
                <span class="sec-menu__count pull-right">{{ goal_counts.department_goals }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "goal:my_goals_list_page" %}" class="sec-menu__link_my-goals">
            Мои цели
            {% if goal_counts.my_goals %}
                <span class="sec-menu__count pull-right">{{ goal_counts.my_goals }}</span>
            {% endif %}
        </a></li>
    </ul>

    {# {% if filters_form %} #}
    {#     <h4 class="text-primary">Фильтры</h4> #}
    {#     <form action="" method="GET" accept-charset="utf-8" class="filters-form form-inline"> #}
    {#         {% for f in filters_form.visible_fields %} #}
    {#             {% include "core/form_field.html" with field=f label='' %} #}
    {#         {% endfor %} #}

    {#         {% for f in filters_form.hidden_fields %} #}
    {#             {{ f }} #}
    {#         {% endfor %} #}

    {#         <p> #}
    {#             {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %} #}
    {#             {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="$('.filters-form input[type=text]').val(''); this.form.submit();" %} #}
    {#         </p> #}
    {#     </form> #}
    {# {% endif %} #}
{% endblock %}

