django<1.9
django-extensions
python-dateutil
django-autoslug
Pillow
easy_thumbnails
mysql-python
django-polymorphic
django-ajaximage
nodeenv # виртуальное окружение для nodejs
# nodeenv --python-virtualenv #Use current python virtualenv
# потом установить через npm пакет less
django-compressor
django-endless-pagination
django-datetime-widget
# django-taggit
# django-tagging
django-mptt
django_select2
django-axes
ajaxuploader
more_itertools
django-timezones
django-crispy-forms
django-contrib-comments
django-fluent-comments
django-sitetree
django-fixture-generator
pyelasticsearch
django-haystack
