{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    {# <link rel="stylesheet" type="text/css" media="all" href="{% static "client/css/client.css" %}" /> #}
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div><a href="{% url "client:add_client_page" %}" class="btn btn-primary">Добавить клиента</a></div>


    {% if filters_form %}
        <form action="" method="GET" accept-charset="utf-8" class="filters-form">
            {% for f in filters_form.visible_fields %}
                {% include "core/form_field.html" with field=f %}
            {% endfor %}

            {% for f in filters_form.hidden_fields %}
                {{ f }}
            {% endfor %}

            {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %}
            {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="this.form.reset();" %}
        </form>
    {% endif %}
{% endblock %}
