{% load static %}
{% load endless %}

{% paginate contacts %}
{% get_pages %}


<div class="endless_page_template">
    <table class="contacts-list table table-stripped table-condensed">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Компания</th>
                <th>Телефон</th>
                <th>Мобильный телефон</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td><a href="{% url "contact:contact_detail_page" contact.pk %}">{{ contact.full_name }}</a></td>
                    <td>{{ contact.company|default:"" }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.mobile_phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "helper/endless_pagination/pages.html" %}

    <script type="text/javascript" src="{% static 'core/js/endless_custom.js' %}"></script>
</div>
