{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    {# <link rel="stylesheet" type="text/css" media="all" href="{% static "partner/css/partner.css" %}" /> #}
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-plus"></span> Добавить <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url "contact:add_contact_page" %}">Добавить контакт</a></li>
        <li><a href="{% url "contact:add_company_page" %}">Добавить компанию</a></li>
      </ul>
    </div>

    <hr>

    {% if filters_form %}
        <h4 class="text-primary">Фильтры</h4>
        <form action="" method="GET" accept-charset="utf-8" class="filters-form form-inline">
            {% for f in filters_form.visible_fields %}
                {% include "core/form_field.html" with field=f label='' %}
            {% endfor %}

            {% for f in filters_form.hidden_fields %}
                {{ f }}
            {% endfor %}

            <p>
                {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %}
                {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="$('.filters-form input[type=text]').val(''); this.form.submit();" %}
            </p>
        </form>
    {% endif %}
{% endblock %}
