
#id_parent {
    width: 100%;
}

.select2-container {
    width: 100%;
}

.add-wiki-form th {
    width: 150px;
}

.wiki-page-item {
    cursor: pointer;
}

.wiki-page__title {
    margin-top: 0;
}

.sec-menu__item_wiki_my .sec-menu-item__icon:before {
    content: "\e008";
}

.sec-menu__item_wiki_all .sec-menu-item__icon:before {
    content: "\e105";
}
