.navbar-sidebar {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.site-name__title {
    color: @brand-primary;
}

.logo-container {
    padding: 10px 0;
}

.logo-image {
    background-image: url(../../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
}

.logo-slogan {
    color: white;
}

.nav li {
    display: block;
}

#global-search__input {
    background-color: transparent;
    color: white;
}
