#main-navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.logo  {
    background-image: url(../../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: block;
    width: 150px;
    height: @navbar-height;
    margin: @nav-link-padding;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
