
.logo  {
    background-image: url(../../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: fixed;
    bottom: 0;
    display: block;
    width: 150px;
    height: @navbar-height;
    margin: @nav-link-padding;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.sec-menu {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 15px;
    box-sizing: border-box;
}

.sec-menu li.active > a,
.sec-menu li > a:hover,
.sec-menu li > a:focus {
    background-color: @brand-primary;
    box-sizing: border-box;
    color: white;
    border-radius: 0;
}

.sec-menu li > a {
    color: @gray-light;
}

.sec-menu label {
    color: @gray-light;
    font-weight: normal;
}

