{% extends "idea/page.html" %}
{% load static %}
{% load endless %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="ideas-list-page">
        <div class="row-fluid">
            {% if ideas %}
                {% include "idea/ideas_list.html" %}
            {% else %}
                <div class="list-empty bg-warning">
                    Ничего не найдено
                </div>
            {% endif %}
        </div>

    </div> {# .ideas-list #}
{% endblock %}



