{% extends "crm/page.html" %}
{% load static %}
{% load endless %}

{% block page_title %}Клиенты{% endblock %}

{% block content %}
    <div class="contacts-list-page">
        {% if filters_form %}
            <h4 class="text-primary">Фильтры</h4>
            <form action="" method="GET" accept-charset="utf-8" class="filters-form form-inline">
                {% for f in filters_form.visible_fields %}
                    {% include "core/form_field.html" with field=f label='' %}
                {% endfor %}

                {% for f in filters_form.hidden_fields %}
                    {{ f }}
                {% endfor %}

                {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %}
                {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="$('.filters-form input[type=text]').val(''); this.form.submit();" %}
            </form>
        {% endif %}

        <div class="row-fluid">
            {% if contacts %}
                {% include "contact/contacts_list.html" %}
            {% else %}
                <div class="list-empty bg-warning">
                    Ничего не найдено
                </div>
            {% endif %}
        </div>

    </div> {# .contacts-list #}
{% endblock %}



