{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "crm/css/crm.css" %}" />
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-plus"></span> Добавить <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url "contact:add_contact_page" %}?is_lead=1">Добавить клиента/лид</a></li>
        <li><a href="{% url "crm:sales_deal_add_page" %}">Добавить сделку</a></li>
      </ul>
    </div>

    <ul class="nav">
        <li><a href="{% url "crm:sales_deals_list_page" %}" class="sec-menu__link_deals">
            <span class="glyphicon glyphicon-shopping-cart"></span> Сделки
        </a></li>
        <li><a href="{% url "contact:clients_list_page" %}" class="sec-menu__link_clients">
            <span class="glyphicon glyphicon-user"></span> Клиенты
        </a></li>
    </ul>

{% endblock %}

