{% extends "crm/page.html" %}
{% load static %}
{% load endless %}

{% block page_title %}Сделки{% endblock %}

{% block content %}
    <div class="sales_deals-list-page">
        <div class="row-fluid">
            {% if deals %}
                {% include "crm/sales_deals_list.html" %}
            {% else %}
                <div class="list-empty bg-warning">
                    Ничего не найдено
                </div>
            {% endif %}
        </div>

    </div> {# .sales_deals-list #}
{% endblock %}


