{% extends "task/page.html" %}
{% load static %}
{% load endless %}

{% block js %}
    {{ block.super }}

    {{ form.media }}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var $add_task = $('.add-task-block');
            $('.add-task__params').hide();
            $add_task.find('.add-task__more-params').on('click', function(event){
                event.stopPropagation();
                event.preventDefault();
                $(this).hide();
                $('.add-task__params').show();
            });

            $add_task.find('input[name="title"]').on('keyPress', function(event){
                if (event.keyCode === 13) {
                    $add_task.find('form').submit();
                }
            });

            $add_task.find('.add-task__btn-cancel').on('click', function(event){
                $('.add-task__params').hide();
            });
        });
    </script>
{% endblock %}

{% block page_title %}
       {{ page_title}}
{% endblock %}

{% block content %}
    <div class="add-task-block panel panel-default">
        <div class="panel-body">
            {# TODO вынести в отдельный шаблон #}
            <form action="{% url "task:add_task" %}?next={{ request.path }}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {# <div class="input-group"> #}
                    {{ form.title }}
                    {# <span class="input-group-btn"> #}
                    {#     <input type="submit" class="btn btn-default" value="Добавить"><span class="glyphicon glyphicon-plus"></span></button> #}
                    {# </span> #}
                {# </div><!-- /input-group --> #}

                <a href="#" class="add-task__more-params btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Заполнить остальные поля задачи">Подробнее...</a>

                <div class="add-task__params">
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    {% include "core/form_field.html" with field=form.desc %}
                    {% include "core/form_field.html" with field=form.performer %}
                    {% include "core/form_field.html" with field=form.due_date %}
                    {% include "core/form_field.html" with field=form.period %}
                    {% include "task/task_detail/files_formset.html" %}
                    <input type="submit" class="btn btn-primary" value="Добавить"/>
                    <button type="button" class="add-task__btn-cancel btn btn-defautl">Отменить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tasks-list">

        {# <div class="tasks-list__filters row-fluid"> #}
        {#     <form action="" method="GET" accept-charset="utf-8" class="form-inline"> #}
        {#         {% for f in filters_form.visible_fields %} #}
        {#             {% include "core/form_field.html" with field=f %} #}
        {#         {% endfor %} #}

        {#         {% for f in filters_form.hidden_fields %} #}
        {#             {{ f }} #}
        {#         {% endfor %} #}

        {#         {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %} #}
        {#         {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="this.form.reset();" %} #}
        {#     </form> #}
        {# </div> #}

        {% paginate tasks %}
        {% get_pages %}
        <div class="row-fluid">
            {# <p class="lead">Найдено: <strong>{{ count_objects }}</strong></p> #}
            {% if tasks %}
                {% include "task/tasks_list.html" with tasks=tasks %}
                {% include "helper/endless_pagination/pages.html" %}
            {% else %}
                <div class="tasks-list__empty bg-warning">
                    Нет задач
                </div>
            {% endif %}
        </div>

    </div> {# .tasks-list #}
{% endblock %}
