{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "task/css/task.css" %}" />
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus"></span> Добавить
            {# <span class="caret"></span> #}
        </button>
        <ul class="dropdown-menu">
            <li><a href="{% url "task:add_task" %}">Добавить задачу</a></li>
            {# TODO DEMO-пункт меню #}
            <li><a href="{% url "route:route1:start_route" %}">Запустить бизнес-процесс <strong>"Согласование договора"</strong></a></li>
        </ul>
    </div>

    <ul class="nav">
        {# <li><a href="#" class="sec-menu__link_favorite-tasks"> #}
        {#     <span class="glyphicon glyphicon-star-empty"></span> Избранные <span class="badge">2</span> #}
        {# </a></li> #}
        <li><a href="{% url "task:today_tasks_page" %}" class="sec-menu__link_today-tasks">
            <span class="glyphicon glyphicon-time"></span> Сегодня <span class="badge">11</span>
        </a></li>
        <li><a href="{% url "task:overdue_tasks_page" %}" class="sec-menu__link_overdue-tasks">
            <span class="glyphicon glyphicon-fire"></span> Просроченные <span class="badge">1</span>
        </a></li>
        <li><a href="{% url "task:later_tasks_page" %}" class="sec-menu__link_later-tasks">
            <span class="glyphicon glyphicon-calendar"></span> Позже <span class="badge">23</span>
        </a></li>
        <li><a href="{% url "task:completed_tasks_page" %}" class="sec-menu__link_completed-tasks">
            <span class="glyphicon glyphicon-saved"></span> Выполненные <span class="badge">209</span>
        </a></li>
        <li><a href="{% url "task:outbound_tasks_page" %}" class="sec-menu__link_outbound-tasks">
            <span class="glyphicon glyphicon-export"></span> Исходящие <span class="badge">9</span>
        </a></li>
    </ul>
{% endblock %}

