{% extends "core/page.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "task/css/task.css" %}" />
{% endblock %}

{% block sec_menu %}
    {{ block.super }}

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus"></span> Добавить
            {# <span class="caret"></span> #}
        </button>
        <ul class="dropdown-menu">
            <li><a href="{% url "task:add_task" %}">Добавить задачу</a></li>
            {# TODO DEMO-пункт меню #}
            <li><a href="{% url "route:route1:start_route" %}">Запустить бизнес-процесс <strong>"Согласование договора"</strong></a></li>
        </ul>
    </div>

    <ul class="nav">
        {# <li><a href="{% url "task:favorite_tasks_page" %}" class="sec-menu__link_favorite-tasks"> #}
        {#     <span class="glyphicon glyphicon-star-empty"></span> Избранные #}
        {#     {% if task_counts.favorite %} #}
        {#         <span class=" pull-right">{{ task_counts.favorite }}</span> #}
        {#     {% endif %} #}
        {# </a></li> #}
        <li><a href="{% url "task:today_tasks_page" %}" class="sec-menu__link_today-tasks">
            <span class="glyphicon glyphicon-time"></span> Сегодня
            {% if task_counts.today %}
                <span class=" pull-right">{{ task_counts.today }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "task:overdue_tasks_page" %}" class="sec-menu__link_overdue-tasks">
            <span class="glyphicon glyphicon-fire"></span> Просроченные
            {% if task_counts.overdue %}
                <span class=" pull-right">{{ task_counts.overdue }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "task:later_tasks_page" %}" class="sec-menu__link_later-tasks">
            <span class="glyphicon glyphicon-calendar"></span> Позже
            {% if task_counts.later %}
                <span class=" pull-right">{{ task_counts.later }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "task:completed_tasks_page" %}" class="sec-menu__link_completed-tasks">
            <span class="glyphicon glyphicon-saved"></span> Выполненные
            {% if task_counts.completed %}
                <span class=" pull-right">{{ task_counts.completed }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "task:outbound_tasks_page" %}" class="sec-menu__link_outbound-tasks">
            <span class="glyphicon glyphicon-export"></span> Исходящие
            {% if task_counts.outbound %}
                <span class=" pull-right">{{ task_counts.outbound }}</span>
            {% endif %}
        </a></li>
        <li><a href="{% url "task:repeating_tasks_page" %}" class="sec-menu__link_repeating-tasks">
            <span class="glyphicon glyphicon-repeat"></span> Повторяющиеся
            {% if task_counts.repeating %}
                <span class=" pull-right">{{ task_counts.repeating }}</span>
            {% endif %}
        </a></li>
    </ul>
{% endblock %}

