{% extends "task/page.html" %}
{% load static %}
{% load route_tags %}
{% load comments %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "fluent_comments/css/ajaxcomments.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block page_title %}
    Задача "{{ task.template.title }}"
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12">
    <div class="bg-danger">
        {% if form.errors %}
            <p>Ошибка!</p>
            <p>Проверьте все поля, под которыми есть сообщения об ошибках.</p>
        {% endif %}
    </div>

    <div class="row">
        {# <div class="task__due-date col-md-6"> #}
        {#     <label>Крайний срок:</label> <span>{{ task.due_date|default:"-" }}</span> #}
        {# </div> #}

        {# <div class="task__performer col-md-6"> #}
        {#     <label>Исполнитель:</label> <span>{{ task.template.performer|default:"-" }}</span> #}
        {# </div> #}
    </div>

    {# <div class="task__desc"> #}
    {#     <label>Описание:</label>  #}
    {#     {{ task.template.desc }} #}
    {# </div> #}

    {% if can_edit %}
        <form action="" method="POST" accept-charset="utf-8"  enctype="multipart/form-data" class="task-form">
            {% csrf_token %}

            {% block task_form_fields %}
            {% endblock %}

            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </form>
    {% else %}
        {% block task_results_view %}
        {% endblock %}
    {% endif %}

    {% route_step_actions task.step request %}


    <h3>Комментарии</h3>
    {% render_comment_list for task %}
    {% render_comment_form for task %}
    {# {% get_comment_form for task as comment_form %} #}
    {# <table> #}
    {#   <form action="{% comment_form_target %}" method="post" class="js-comments-form"> #}
    {#     {% csrf_token %} #}
    {#     {{ comment_form.as_table }} #}
    {#     <tr> #}
    {#       <td colspan="2"> #}
    {#         <input type="submit" name="submit" value="Добавить комментарий" class="btn btn-primary btn-sm"> #}
            {# <input type="submit" name="preview" value="Preview"> #}
    {#       </td> #}
    {#     </tr> #}
    {#   </form> #}
    {# </table> #}
</div>
{% endblock %}
