
{% if files_formset %}
    <div class="files-formset">
        <h3>Файлы</h3>

        {{ files_formset.management_form }}
        {{ files_formset.media }}

        <div class="empty-form" style="display: none;">
            <div class="files-formset__item formset__item col-md-4" style="overflow: hidden;">
                {{ files_formset.empty_form.id }}
                <div class="pull-left">
                    {% include "core/form_field.html" with field=files_formset.empty_form.file label="" inline=True %}
                </div>
                <div class="pull-left">
                    {% include "helper/field/common/formset_delete_field.html" with delete_field=files_formset.empty_form.DELETE button_classes="btn-danger btn-formset-delete" button_title='<span class="glyphicon glyphicon-remove-sign"></span>' formset_container_class="files-formset__items" %}
                </div>
            </div>
        </div>

        <div class="files-formset__items row">
            {% for file_form in files_formset.forms %}
                <div class="files-formset__item formset__item col-md-4" style="overflow: hidden;">
                    <div class="formset__errors bg-danger">
                        {{ file_form.non_field_errors }}
                    </div>
                    {{ file_form.id }}
                    {% include "core/form_field.html" with field=file_form.file label="" inline=True container_classes="pull-left" %}
                    <div class="pull-left">
                        {% include "helper/field/common/formset_delete_field.html" with delete_field=file_form.DELETE button_classes="btn-danger btn-formset-delete" button_title='<span class="glyphicon glyphicon-remove-sign"></span>' formset_container_class="files-formset__items" %}
                    </div>
                </div>
            {% endfor %}

            <div class="more-file-form-container col-md-4">
                <button type="button" id="more-file-form" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Добавить файл</button>
            </div>

        </div>
        <br>

        <script>
            $(document).ready(function() {
                AjaxUploadWidget.autoDiscover('.files-formset__items');
                $('#more-file-form').on('click', function() {
                    var $formset = $('.files-formset');
                    var $total_forms = $('input[name$="TOTAL_FORMS"]');
                    var form_idx = $total_forms.val();
                    var new_form_html = $formset.find('.empty-form').html().replace(/__prefix__/g, form_idx);
                    $('.more-file-form-container').before(new_form_html);
                    $total_forms.val(parseInt(form_idx) + 1);
                    var $new_form_item = $('.files-formset__items .formset__item').last();
                    $new_form_item.find('input[type="file"]').removeClass('ajax-upload-processed').click();
                    AjaxUploadWidget.autoDiscover('.files-formset__items');
                });
            });
        </script>
    </div>
{% endif %}
