
{% if task_steps_formset %}
    <div class="task_steps-formset">
        <!-- <h3>Шаги</h3> -->

        {{ task_steps_formset.management_form }}
        {{ task_steps_formset.media }}

        <table>
            <tbody class="empty-form" style="display: none;">
                <tr class="task_steps-formset__item formset__item">
                    <td class="task-step-item__col-completed">
                        {{ task_steps_formset.empty_form.id }}
                        {{ task_steps_formset.empty_form.completed }}
                    </td>

                    <td class="task-step-item__col-title">
                        {% include "core/form_field.html" with field=task_steps_formset.empty_form.title %}
                        {% include "core/form_field.html" with field=task_steps_formset.empty_form.date %}
                    </td>

                    <td class="task-step-item__col-date">
                        {% include "core/form_field.html" with field=task_steps_formset.empty_form.date %}
                    </td>

                    <td class="task-step-item__col-delete">
                        {% include "helper/field/common/formset_delete_field.html" with delete_field=task_steps_formset.empty_form.DELETE button_classes="btn-danger btn-formset-delete" button_title='<span class="glyphicon glyphicon-remove-sign"></span>' formset_container_class="task_steps-formset__items" %}
                    </td>
                </tr>
            </tbody>
        </table>

        {# <div class="task_steps-formset__items"> #}
            <table class="table table-condensed task-steps__table">
                <tbody class="task_steps-formset__items">
                    {% for ts_form in task_steps_formset.forms %}
                            <tr class="task_steps-formset__item formset__item">
                                <td class="task-step-item__col-completed">
                                    {{ ts_form.id }}
                                    {# {% include "core/form_field.html" with field=ts_form.completed label="" inline=True %} #}
                                    {{ ts_form.completed }}
                                </td>

                                <td class="task-step-item__col-title">
                                    {% include "core/form_field.html" with field=ts_form.title %}
                                    {% include "core/form_field.html" with field=ts_form.desc %}
                                </td>

                                <td class="task-step-item__col-date">
                                    {% include "core/form_field.html" with field=ts_form.date %}
                                </td>

                                <td class="task-step-item__col-delete">
                                    {% include "helper/field/common/formset_delete_field.html" with delete_field=ts_form.DELETE button_classes="btn-danger btn-formset-delete" button_title='<span class="glyphicon glyphicon-remove-sign"></span>' formset_container_class="task_steps-formset__items" %}
                                </td>
                            </tr>

                            {# <tr> #}
                            {#     <td colspan="3"> #}
                            {#         {% include "core/form_field.html" with field=ts_form.desc %} #}
                            {#     </td> #}
                            {# </tr> #}
                        </tr> {# .task_steps-formset__item #}
                    {% endfor %}
                </tbody>
            </table>

        {# </div> #}

        <input type="button" value="Еще" id="more-task-step-form">
        <script>
            $(document).ready(function() {
                $('#more-task-step-form').on('click', function() {
                    var $formset = $('.task_steps-formset');
                    var $total_forms = $('input[name$="TOTAL_FORMS"]');
                    var form_idx = $total_forms.val();
                    $('.task_steps-formset__items').append($formset.find('.empty-form').html().replace(/__prefix__/g, form_idx));
                    $total_forms.val(parseInt(form_idx) + 1);
                });
            });
        </script>
    </div>
{% endif %}
