{% extends "task/task_detail/base.html" %}
{% load comments %}

{% block task_form_fields %}
    {{ block.super }}

    {# {% for f in form.hidden_fields %} #}
    {#     {{ f }} #}
    {# {% endfor %} #}

    {# {% for f in template_form.hidden_fields %} #}
    {#     {{ f }} #}
    {# {% endfor %} #}

    <table>
        {{ template_form.as_table }}
        {{ form.as_table }}
    </table>
    {# {% for f in template_form.visible_fields %} #}
    {#     {% include "core/form_field.html" with field=f inline=True %} #}
    {# {% endfor %} #}
    {# {% for f in form.visible_fields %} #}
    {#     {% include "core/form_field.html" with field=f inline=True %} #}
    {# {% endfor %} #}

    {% include "task/task_detail/files_formset.html" %}

{% endblock %}

{% block task_results_view %}
    {% for row in task_results %}
        {% include "core/field_view.html" with value=row.value label=row.label inline=True %}
    {# <div class="task-field-view"> #}
    {#     <label>{{ row.label }}</label> #}
    {#     <span>{{ row.value }}</span> #}
    {# </div> #}
    {% endfor %}
{% endblock %}
