{% extends "core/page.html" %}
{% load endless %}

{% block page_title %}События{% endblock %}

{% block content %}
    <div class="notifications-list">
        <div class="notifications-list__filters row-fluid">
            {# TODO вынести форму фильтров в отдельный шаблон #}
            <form action="" method="GET" accept-charset="utf-8" class="form-inline">
                {% include "core/form_field.html" with field=filters_form.readed label="" %}

                {% for f in filters_form.hidden_fields %}
                    {{ f }}
                {% endfor %}

                {% include "core/form_inline_buttons.html" with title="Отобразить" type="submit" btn_classes="btn-success" %}
                {% include "core/form_inline_buttons.html" with title="Сбросить" type="button" btn_classes="btn-default" onclick="this.form.reset();" %}
            </form>
        </div>

        {% paginate notifications %}
        {% get_pages %}
        <div class="row-fluid">
            {% include "notification/notifications_list.html" with notifications=notifications %}
            {% include "helper/endless_pagination/pages.html" %}
        </div>
    </div> {# .notifications-list #}
{% endblock %}
